# Build and Publisher output
backend/**/bin/
backend/**/obj/
backend/publisher

# Dotenv environment files
**/*.env
!**/*.Example.env

# IDE
**/.vscode
**/.vs
**/.idea

# Logs
**/*.log

# Docker data
backend/docker/data